<!DOCTYPE html>
<html lang="en">
  {% include en/head.html %}
  <body class="{{ page.class }}">
    {% include en/header.html %}
    {% include en/main.html %}
    {% include en/footer.html %}
    <script src="/assets/scripts/calculator.js" type="text/javascript"></script>
    {% if page.custom_js_file %}
      {% for js_file in page.custom_js_file %}
        <script src='/assets/scripts/{{ js_file }}.js' type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% if page.custom_js_script %}
      {% for js_script in page.custom_js_script %}
        <script>{{ js_script }}</script>
      {% endfor %}
    {% endif %}
  </body>
</html>