<header class="db dn-ns burger">
  <a href="/" class="">
    <img src="/assets/images/logo/logo.svg" class="h2">
  </a>
  <input id="burger" type="checkbox">
  <label for="burger">
    <span class="bg-brand"></span>
    <span class="bg-brand"></span>
    <span class="bg-brand"></span>
  </label>
  <nav>
    <ul class="list pa0 tc absolute">
      {% for link in site.data.navigation %}
      <li class="pv3 bb b--near-white">
        <a href="{{ link.url_sv }}" title="{{ link.title_sv }}" class="link brand dim f5 fw6">{{ link.title_sv }}</a>
      </li>
      {% endfor %}
      {% for link in site.data.navigation-auth %}
      <li class="pv3 bb b--near-white">
        <a href="{{ link.url_sv }}" title="{{ link.title_sv }}" class="link brand dim f5 fw6">{{ link.title_sv }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="cover bg-left mt5" style="background-image: url(/assets/images/bg/bg-stockholm.jpg)">
    <div class="tc ph1 pv5 bg-hero">
      <h1 class="f3 f1-ns white-90 lh-title mt5">Invest in <i class="typewriter fw4">Fintech</i> Startups</h1>
      <a href="#learnmore" class="fw6 f6 no-underline dib white hover-brand hover-bg-white ba b--white br-pill ph5 pv2 mb3">Learn More</a>
    </div>
  </div>
</header>
<header class="dn db-ns">
  <div class="cover bg-left bg-center-l" style="background-image: url(/assets/images/bg/bg-stockholm.jpg)">
    <div class="bg-hero pb3 pb6-ns">
      <nav class="w-100 z-999 scroll bg-scroll fixed">
        <ul class="fl w-10 list">
          <li class="dib ma0">
            <a href="/" class="dib">
              <img src="/assets/images/logo/logo-white.svg" class="logo h2">
            </a>
          </li>
        </ul>
        <ul class="fl w-50 list lh-copy">
          {% for link in site.data.navigation %}
            <li class="dib pv2">
              <a href="{{ link.url_sv }}" class="f6 custom-fw6 dim no-underline white ph4 nav-link">{{ link.title_sv }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="fl w-40 list lh-copy tr ph4">
          {% for link in site.data.navigation-auth %}
            <li class="dib pv2">
              <a href="{{ link.url }}" class="f6 custom-fw6 white no-underline {{ link.css_home }}">{{ link.title_sv }}</a>
            </li>
          {% endfor %}
          <li class="dib pv2">
            <a href="/sv/hem" class="f6 fw6 white no-underline ph1">
              <img src="/assets/images/icons/flags/se.svg" class="h1 dim">
            </a>
          </li>
          <li class="dib pv2">
            <a href="/" class="f6 fw6 white no-underline ph1">
              <img src="/assets/images/icons/flags/gb.svg" class="h1 dim">
            </a>
          </li>
        </ul>
      </nav>
      <div class="tc ph1 ph3-ns pt4 pt6-ns pb3 pb5-ns">
        <h1 class="f3 f1-ns white-90 lh-title mt5">Investera i <i class="typewriter fw4">Fintech</i> Startups</h1>
        <a href="#learnmore" class="fw6 f6 no-underline dib white hover-brand hover-bg-white ba b--white br-pill ph5 pv2 mb3">Få mer information</a>
      </div>
    </div>
  </div>
</header>