<section class="bg-light-brand cf brand ph3 ph5-ns pv3">
  <div class="fl w-100">
    <div class="fl w-100 w-70-ns pa2">
      <h4 class="f5 fw4 mv3">Hur kommer jag igång?</h4>
      <h2 class="f3 f2-ns fw4 mv3">Bli medlem och börja investera</h2>
      <h4 class="f5 fw4 mv3">Ansök om ett gratis medlemskap</h4>
      <a href="#lead" class="mt3 f5 bg-brand white hover-bg-dark-brand hover-white no-underline tc pv3 ph4-ns ba br2 mr3-ns mv2 mv0-ns db dib-ns" title="Bli medlem">Bli medlem</a>
      <a href="#contact" class="f5 brand hover-bg-dark-brand hover-white no-underline pv3 ph5-ns tc ba b--brand br2 db dib-ns" title="Kontakta oss">Kontakta oss</a>
    </div>
    <ul class="fl w-100 w-30-ns pa2 list tr">
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/barchart.svg" class="fl w-20 h2 pa2" alt="Portfolio">
        <h3 class="fl w-70 tl f5 fw4 ma0">Börja bygga upp en portfölj<br> av startups</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/investors.svg" class="fl w-20 h2 pa2" alt="Investors">
        <h3 class="fl w-70 tl f5 fw4 ma0">Investera tillsammans med andra<br> investerare</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/idea.svg" class="fl w-20 h2 pa2" alt="Investors">
        <h3 class="fl w-70 tl f5 fw4 ma0">Få tillgång till ett flöde av <br>granskade startups</h3>
      </li>
    </ul>
  </div>
</section>