<section class="bg-light-brand cf brand ph3 ph5-ns pv3">
  <div class="fl w-100">
    <div class="fl w-100 w-70-ns pa2">
      <h4 class="f5 fw4 mv3">Hur kommer jag igång?</h4>
      <h2 class="f3 f2-ns fw4 mv3">Skicka in en ansökan så återkommer vi</h2>
      <h4 class="f5 fw4 mv3">Klicka på knappen nedan för att skicka in en ansökan</h4>
      <a href="#startup-form" class="mt3 f5 bg-brand white hover-bg-dark-brand hover-white no-underline tc pv3 ph4-ns ba br2 mr3-ns mv2 mv0-ns db dib-ns" title="Ansök">Ansök</a>
      <a href="#contact" class="f5 brand hover-bg-dark-brand hover-white no-underline pv3 ph5-ns tc ba b--brand br2 db dib-ns" title="Kontaka oss">Kontaka oss</a>
    </div>
    <ul class="fl w-100 w-30-ns pa2 list tr">
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/time.svg" class="fl w-20 h2 pa2" alt="Time">
        <h3 class="fl w-70 tl f5 fw4 ma0">Spara tid och fokusera på din <br> verksamhet</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/dollar.svg" class="fl w-20 h2 pa2" alt="Dollar">
        <h3 class="fl w-70 tl f5 fw4 ma0">Öka sannolikheten för en <br> framgångsrik kapitalrunda</h3>
      </li>
      <li class="fl w-100 mv3">
        <img src="/assets/images/icons/user.svg" class="fl w-20 h2 pa2" alt="User">
        <h3 class="fl w-70 tl f5 fw4 ma0">Hitta den rätta <br> investeraren</h3>
      </li>
    </ul>
  </div>
</section>