<section class="bg-white cf dark-gray pt3 pb5 ph3 ph5-ns" id="service">
  <h4 class="f4 f2-ns fw7 bb-custom-sm bb-custom-brand tc">Våra tjänster</h4>
  <p class="f5 f4-ns fw1 mid-gray tc lh-copy">Bli en del av Sveriges entreprenöriella ekossytem. Angelr ger dig tillgång till startup-bolag utifrån dina preferenser, vilket skapar förutsättnigar för en bättre match mellan företag och investerare. Våra medlemmar består av {{ site.data.data.num_investors }}+ av Sveriges främsta privata och institutionella investare.​​​​​​​</p>
  <div class="fl w-100 mt3 mt5-ns">
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/dealflow.svg" class="h2" alt="Flöde av investeringscase">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Flöde av investeringscase</h3>
      <p class="f5 fw3 tl">Angelr ger investerare tillgång till företag inom den nordiska startup-scenen. När du blir medlem får du tillgång till ett flöde av företag utifrån dina preferenser.</p>
    </div>
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/player.svg" class="h2" alt="Företagspresentationer">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Företagspresentationer</h3>
      <p class="f5 fw3 tl">När du har hittat ett företag som du vill veta mer om kommer du att bli inbjuden till en företagspresentation eller enskilt möte. Dessa träffar öppnar upp möjligheten att lära känna entreprenörerna bättre men också nätverka med andra investerare.</p>
    </div>
    <div class="fl w-100 w-third-ns pv2 ph4 tc">
      <img src="/assets/images/icons/briefcase.svg" class="h2" alt="Legal assistans">
      <h3 class="f4 brand bb-custom-md bb-custom-gray">Legal assistans</h3>
      <p class="f5 fw3 tl">Angelr hjälper dig igenom hela investeringsprocessen när du investerar i startups. Det kan handla om allt från avtal, legal struktur för syndikering till hjälp med att sätta upp ett holdingbolag.</p>
    </div>
  </div>
</section>