---
layout: en/layout
---
<div class="pt5-ns">
  {% include en/sections/page-header-blog.html %}
  <section class="bg-white cf dark-gray pa4 pt3-ns pb5-ns ph5-ns">
    <div class="fl w-100 mt5-ns">
      <div class="f5 fw3 mw8-ns center lh-copy">
        {{ content }}
      </div>
      <div class="f5 fw3 mw8-ns center lh-copy tc mt5">
        <a href="/blog" class="link f5 fw4 brand hover-bg-dark-brand hover-white hover-ba--brand-darker ba b-near-white pv2 ph3 br2 mv4">Seel all posts</a>
      </div>
    </div>
  </section>
</div>