<meta name="description" content="This is the website of Ismail Mechbal, a Product Engineer based in Stockholm">
<meta property="og:title" content="Ismail Mechbal Cosmos">
<meta property="og:site_name" content="Ismail Mechbal Cosmos">
<meta property="og:image" content="https://ismailmechbal.com/assets/images/ismailmechbalcover.jpg">
<meta property="og:description" content="This is the website of Ismail Mechbal, a Product Engineer based in Stockholm">
<meta property="og:url" content="https://www.ismailmechbal.com">
<meta property="og:image" content="https://www.ismailmechbal.com/assets/images/meta/ismailmechbal_1200x630.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ismailmechbal">
<meta name="twitter:title" content="Ismail Mechbal Cosmos">
<meta name="twitter:description" content="This is the website of Ismail Mechbal, a Product Engineer based in Stockholm">
<meta name="twitter:creator" content="@ismailmechbal">
<meta name="twitter:url" content="https://www.ismailmechbal.com">
<meta name="twitter:image" content="https://www.ismailmechbal.com/assets/images/meta/ismailmechbal_1200x630.jpg">
<meta name="google-site-verification" content="">